
Skip to content
Pull requests
Issues
Codespaces
Marketplace
Explore
@WonchulYoo
avikus-ai /
nas2-cardia
Private

Cannot fork because forking is disabled.

Code
Issues
Pull requests
Actions
Projects
Wiki
Security

    Insights

nas2-cardia/.gitignore
@WonchulYoo
WonchulYoo 221216 Dockerize repo
Latest commit 48161bf Dec 26, 2022
History
1 contributor
43 lines (35 sloc) 381 Bytes
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# git files
.gitmessage

# CMake, CMake build directories
build/
builddir/
CMakeFiles/
.vscode/
*.cmake
*.tcl
discarded/
docs/html